/* body{
  background-color: #a7ffeb;
} */

/* Navbar */
a.brand-logo{
  margin-left: 20px;
}

/* signin */
.auth-card{
  padding: 10px;
  text-align: center;
  max-width: 400px;
  margin: 40px auto;
}

/* profile */
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item{
  max-width: 80%;
  margin: 20px 30px;
  
}
.profile-pic{
  width: 300px;
  height: 250px;
  background-color: white;
  margin: 10px;
  
}
#del{
  width: 100px;
  margin-left: 100px
}

/* home */
.home{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
}
.home-card{
  max-width: 300px;
  border-radius: 10px;
  height: 400px;
  
}
.card-context{
  margin: 0px 10px ;
}
.upload-by{
  margin-left: 10px;
}

/* createpost */
.input-filed{
  padding: 10px;
  text-align: center;
  max-width: 500px;
  margin: 40px auto;
}

/* toast */
#toast-container{
  top: 30px !important;
  right: 20px !important;
  left: auto !important;
}

#download{
  position: absolute;
  bottom: 16px;
  max-width: 380px;

}

#logout{
  margin-left: 10px;
  margin-right: 10px;
}

/* 

.profile-card{
  max-width: 200px;
  border-radius: 10px;
  height: 450px;
} */


